*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    padding:0 !important;
    margin:0 !important;
    overscroll-behavior-y: none;
	touch-action: none;
    // background:url(https://gd-hbimg.huaban.com/17aaa1627376870a9b0eb2f0ff6c3f2b82a5fc0b2f77b-UelyKb_fw480webp) no-repeat center center;
    background:url(../images/1mgqyii10k.jpg) no-repeat center center;
    background-size: cover;
    .scene{
        width:100vw;
        height:100vh;
        padding:10px;
        background-color: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(30px);
        #scene{
            box-sizing: border-box !important;
            width:100%;
            height:100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
        }
    }
}